
#backgroundDiv::after {
    content: "";
    background: url(../img/gridBackground.jpg);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    max-width: 1700px;
}

#wholegame {
    margin-left: 0;
}

.container{
    margin-top: 2%;
    background-color: burlywood;
    text-align: center;
}

.blank {
    height: 11vw;
    width: 11vw;
    background-color: bisque;
    border: solid .1em brown;
    display: inline-block;
    min-height: 100px!important;
    min-width: 100px!important;
}

img {
    height: 100%;
    width: 100%;
}

button {
    margin-top: 1vw;
    background-color: beige;
    min-width: 50px!important;
    min-height: 30px!important;
}

#commit{
    height: 3em;
    width: 10em;
}

#auto{
    width: 8em!important;
    height: 3em!important;
}

#startover{
    width: 8em!important;
    height: 2.75em!important;
}

#winner{
    position: fixed;
    top: 25%;
    bottom: 0;
    left: 10%;
    right: 0;
    display: none;
    background-color: greenyellow;
    height: 2em;
    width: 80%;
    font-size: 4em;
}

#error{
    position: fixed;
    top: 25%;
    bottom: 0;
    left: 10%;
    right: 0;
    display: none;
    background-color: palevioletred;
    height: 2em;
    width: 80%;
    font-size: 4em;
}

#autoDraw{
    position: fixed;
    top: 25%;
    bottom: 0;
    left: 10%;
    right: 0;
    display: none;
    background-color: salmon;
    height: 2em;
    width: 80%;
    font-size: 4em;
}
