
#backgroundDiv::after {
    content: "";
    background: url(../img/gridBackground.jpg);
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    max-width: 1700px;
    max-height: 800px!important;
}

#wholegame{
    margin-top: 0;
    text-align: center;
    position: relative;

}

.container{
    position: fixed;
    background-color: burlywood;
    text-align: center;
}

.blank {
    height: 200px;
    width: 200px;
    background-color: bisque;
    border: solid .1em brown;
    display: inline-block;
}

button {
    margin-top: 1vw;
    background-color: beige;
}

#commit{
    height: 3em;
    width: 10em;
}

#auto{
    width: 8em!important;
    height: 3em!important;
}

#startover{
    width: 8em!important;
    height: 2.75em!important;
}

#winner{
    position: fixed;
    top: 25%;
    bottom: 0;
    left: 10%;
    right: 0;
    display: none;
    background-color: greenyellow;
    height: 2em;
    width: 80%;
    font-size: 4em;
}

#error{
    position: fixed;
    top: 25%;
    bottom: 0;
    left: 10%;
    right: 0;
    display: none;
    background-color: palevioletred;
    height: 2em;
    width: 80%;
    font-size: 4em;
}

#autoDraw{
    position: fixed;
    top: 25%;
    bottom: 0;
    left: 10%;
    right: 0;
    display: none;
    background-color: salmon;
    height: 2em;
    width: 80%;
    font-size: 4em;
}

@media screen and (max-width: 600px) {
    .blank {
        height: 70px;
        width: 70px;
    }
}